
.navbar {
        position: fixed;
        height: 100%;
}

.navbar>div>ul {
        height: 100%;
}

.navbar>div>button {
        color: black;
        background-color: white;
	transition: all 0.4s cubic-bezier(0.61, 1, 0.88, 1);
        z-index:100;

}

.content {
	transition: all 0.4s cubic-bezier(0.61, 1, 0.88, 1);
padding-top:1rem;
    }

    .ant-menu-inline {
	transition: all 0.4s cubic-bezier(0.61, 1, 0.88, 1);
    }
.navbar-div{
	transition: all 0.4s cubic-bezier(0.61, 1, 0.88, 1);

}

#navcollapse{
        height:3rem;
}